#es-rc.es-rc-content {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 990px;
  overflow: hidden;
}
#es-rc.es-rc-content * {
  box-sizing: border-box;
}
#es-rc.es-rc-content p {
  font-family: "Montserrat", sans-serif;
  margin-block: 0;
}
#es-rc.es-rc-content img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
#es-rc.es-rc-content a {
  text-decoration: none;
}
#es-rc.es-rc-content ::-moz-selection {
  background-color: #e95817;
  color: #ffffff;
}
#es-rc.es-rc-content ::selection {
  background-color: #e95817;
  color: #ffffff;
}
#es-rc.es-rc-content .es-section-title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-block: 32px;
  line-height: 1.3;
}
#es-rc.es-rc-content .es-section-title--big {
  font-size: 24px;
}
#es-rc.es-rc-content .es-section-title--highlight {
  color: #e95817;
  font-size: 20px;
}
#es-rc.es-rc-content .es-kv {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}
#es-rc.es-rc-content .es-kv__photo-1-group--mobile {
  position: relative;
}
#es-rc.es-rc-content .es-kv__photo-1-group--desktop {
  display: none;
}
#es-rc.es-rc-content .es-kv__title {
  width: 140px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: #000;
  text-align: center;
  font-size: 9px;
  font-weight: 700;
  z-index: 4;
  color: #e95817;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
}
#es-rc.es-rc-content .es-kv__photo {
  width: 100%;
  height: 100%;
  z-index: -1;
}
#es-rc.es-rc-content .es-kv__photo--1 {
  position: relative;
}
#es-rc.es-rc-content .es-kv__photo--2 {
  order: 1;
}
#es-rc.es-rc-content .es-kv__photoimg {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  z-index: -1;
}
#es-rc.es-rc-content .es-kv__photoimg--desktop {
  display: none;
}
#es-rc.es-rc-content .es-kv__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  animation: slideleft 1s ease forwards;
  z-index: 3;
}
#es-rc.es-rc-content .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 0 0 auto;
  margin-left: 0;
  max-height: 100px;
}
#es-rc.es-rc-content .es-benefits {
  position: relative;
  z-index: 3;
  margin: 0;
  width: 100%;
  padding: 0;
}
#es-rc.es-rc-content .es-benefits__mobile {
  margin-top: -115px;
}
#es-rc.es-rc-content .es-benefits__mobile-wrapper {
  position: relative;
  height: 400px;
}
#es-rc.es-rc-content .es-benefits__mobile-images--left {
  position: absolute;
  top: 38%;
  left: -10px;
}
#es-rc.es-rc-content .es-benefits__desktop {
  display: none;
}
#es-rc.es-rc-content .es-benefits__list--desktop {
  position: absolute;
  top: 60%;
  left: 10%;
  transform: translate(-10%, -50%);
}
#es-rc.es-rc-content .es-benefits__list--mobile {
  font-weight: 400;
}
#es-rc.es-rc-content .es-benefits__list--desktop {
  font-weight: 700;
}
#es-rc.es-rc-content .es-benefits__list-item {
  margin-bottom: 30px;
}
#es-rc.es-rc-content .es-benefits__list-item::marker {
  color: #e95817;
}
#es-rc.es-rc-content .es-benefits .es-section-title {
  font-size: 18px;
}
@media (min-width: 768px) {
  #es-rc.es-rc-content .es-benefits .es-section-title {
    font-size: 18px;
  }
}
#es-rc.es-rc-content .es-benefits .es-section-title--highlight {
  display: block;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  #es-rc.es-rc-content .es-benefits .es-section-title--highlight {
    font-size: 24px;
  }
}
#es-rc.es-rc-content .es-ba {
  display: flex;
  flex-direction: column;
  justify-self: center;
}
#es-rc.es-rc-content .es-ba__left {
  display: flex;
  gap: 2px;
  background: #fff;
}
#es-rc.es-rc-content .es-ba__right {
  padding: 25px 5px;
  text-align: center;
  color: #e95817;
  font-weight: 700;
}
#es-rc.es-rc-content .es-ba__left-group {
  position: relative;
}
#es-rc.es-rc-content .es-ba__ba-border {
  position: absolute;
  bottom: 20%;
  left: 58%;
  transform: translate(-50%, 10%);
}
#es-rc.es-rc-content .es-ba__group {
  position: relative;
}
#es-rc.es-rc-content .es-ba__left-group-title {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 15px);
  text-transform: uppercase;
  font-weight: 700;
  color: #e95817;
  font-size: 14px;
}
#es-rc.es-rc-content .es-ba__left-group-title--2 {
  left: 25%;
}
#es-rc.es-rc-content .es-effects {
  text-align: center;
  position: relative;
}
#es-rc.es-rc-content .es-effects .es-section-title {
  margin-top: 0;
  font-size: 18px;
  position: relative;
  z-index: 3;
}
#es-rc.es-rc-content .es-effects__title--mobile {
  padding-top: 50px;
}
#es-rc.es-rc-content .es-effects .es-section-title--highlight {
  font-size: 24px;
  display: block;
}
#es-rc.es-rc-content .es-effects__desktop-bg {
  display: none;
}
#es-rc.es-rc-content .es-effects__wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#es-rc.es-rc-content .es-effects__title {
  margin-bottom: 0;
}
#es-rc.es-rc-content .es-effects__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px 0 0 0;
}
#es-rc.es-rc-content .es-effects__item:hover .es-effects__icon {
  transform: scale(1.3);
}
#es-rc.es-rc-content .es-effects__icon {
  transition: all 0.5s;
  width: 25px;
}
#es-rc.es-rc-content .es-effects__desc {
  margin-top: 10px;
  width: 86%;
  font-weight: 500;
  line-height: 1.4;
  font-size: 13px;
}
#es-rc.es-rc-content .es-effects__desc {
  text-align: left;
}
#es-rc.es-rc-content .es-effects__icon {
  margin-left: 0px;
}
#es-rc.es-rc-content .es-effects__container {
  position: relative;
}
#es-rc.es-rc-content .es-effects__container--desktop {
  display: none;
}
#es-rc.es-rc-content .es-effects__mobile-bg-face {
  position: absolute;
  width: 80%;
  max-width: 350px;
  right: 0;
  bottom: 0;
}
#es-rc.es-rc-content .es-effects__ba {
  border-bottom: none;
  border-left: none;
}
#es-rc.es-rc-content .es-ingredients__title-group {
  display: flex;
  align-items: center;
  justify-self: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
  color: #e95817;
  font-weight: 700;
  text-transform: uppercase;
}
#es-rc.es-rc-content .es-ingredients__title--big {
  font-size: 60px;
}
#es-rc.es-rc-content .es-ingredients__title--second {
  font-size: 20px;
}
#es-rc.es-rc-content .es-ingredients__container {
  position: relative;
}
#es-rc.es-rc-content .es-ingredients__desktop-wrapper {
  position: absolute;
  top: 10%;
  left: 5%;
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  align-items: flex-start;
}
#es-rc.es-rc-content .es-ingredients__background--desktop {
  display: none;
}
#es-rc.es-rc-content .es-slider {
  margin: 0;
  padding-bottom: 32px;
  position: relative;
  z-index: 0;
}
#es-rc.es-rc-content .es-slider--desktop {
  display: none;
}
#es-rc.es-rc-content .es-slider__title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 0px;
  margin-block: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}
#es-rc.es-rc-content .es-slider__group-image {
  margin-bottom: 25px;
}
#es-rc.es-rc-content .es-slider__group-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
#es-rc.es-rc-content .es-slider__group-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 22%;
}
#es-rc.es-rc-content .es-slider__group-item-img {
  margin-bottom: 15px;
}
#es-rc.es-rc-content .es-slider__group-item-title {
  font-size: 14px;
  min-height: 40px;
  font-weight: 700;
  text-align: center;
}
#es-rc.es-rc-content .es-slider__name {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  min-height: 50px;
}
#es-rc.es-rc-content .es-slider__wrapper {
  padding: 0 16px;
  position: relative;
  z-index: 1;
}
#es-rc.es-rc-content .es-slider__bg {
  background: linear-gradient(100deg, #f4ec94 0%, #fef115 115%);
  position: absolute;
  width: 100%;
  height: 98%;
  z-index: 1;
}
#es-rc.es-rc-content .es-slider__title--desktop {
  position: relative;
  z-index: 2;
  margin: 0;
  padding-top: 30px;
}
#es-rc.es-rc-content .es-slider__content {
  max-width: 100%;
  padding: 30px 28px;
  position: relative;
}
#es-rc.es-rc-content .es-slider .swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#es-rc.es-rc-content .es-slider__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  padding-top: 15px;
  max-height: 230px;
}
#es-rc.es-rc-content .es-slider__img--3 {
  max-width: 88%;
}
#es-rc.es-rc-content .es-slider__img--4 {
  max-width: 88%;
}
#es-rc.es-rc-content .es-slider__imgbut {
  margin: 0 auto;
  height: 380px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#es-rc.es-rc-content .es-slider__button {
  width: 180px;
  margin: 0 auto;
  border: 1px solid #11622c;
  border-radius: 0;
  display: block;
  padding: 14px 3px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  background: #11622c;
  text-decoration: none;
  transition: all 0.5s;
  border-radius: 8px;
  cursor: pointer;
}
#es-rc.es-rc-content .es-slider__button--mobile {
  width: 75px;
  background-color: #137434;
  border-radius: 4px;
  font-size: 13px;
}
#es-rc.es-rc-content .es-slider__button:hover {
  border: 1px solid #0e8144;
  color: #0e8144;
  background: #fff;
}
#es-rc.es-rc-content .es-slider .es-swiper-slide {
  display: flex;
  width: 200px;
  align-items: center;
}
#es-rc.es-rc-content .es-slider .es-swiper-button-prev:after,
#es-rc.es-rc-content .es-slider .es-swiper-container-rtl .swiper-button-next:after {
  display: none;
}
#es-rc.es-rc-content .es-slider .es-swiper-button-next:after,
#es-rc.es-rc-content .es-slider .es-swiper-container-rtl .es-swiper-button-prev:after {
  display: none;
}
#es-rc.es-rc-content .es-slider .es-swiper-button-next,
#es-rc.es-rc-content .es-slider .es-swiper-container-rtl .es-swiper-button-prev {
  right: -1%;
}
#es-rc.es-rc-content .es-slider .es-swiper-button-prev,
#es-rc.es-rc-content .es-slider .es-swiper-container-rtl .es-swiper-button-next {
  left: -1%;
}
#es-rc.es-rc-content .swiper-pagination-bullet-active {
  background-color: #e95817;
}
#es-rc.es-rc-content .es-footer {
  width: 100%;
  padding: 20px 5px;
  font-weight: 500;
  font-size: 11px;
  font-style: normal;
  text-align: center;
  line-height: 16px;
  max-width: 670px;
  margin: auto;
  margin-bottom: 25px;
}
#es-rc.es-rc-content .es-logo {
  margin: 0 auto;
  width: 100%;
  background-color: #ffffff;
}
#es-rc.es-rc-content .es-logo__img {
  width: 50%;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-width: 225px;
  margin-bottom: 15px;
  transition: 0.5s all;
}
#es-rc.es-rc-content .es-logo__img--footer {
  width: auto;
  max-width: 175px;
}
#es-rc.es-rc-content .es-logo__img:hover {
  transform: scale(1.1);
}
#es-rc.es-rc-content .es-logos {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px 15px;
  background-color: #115e2a;
  background-size: cover;
  gap: 30px;
}
#es-rc.es-rc-content .es-logos__img {
  height: 100%;
  margin: 0 auto;
  display: block;
  max-width: 100%;
  transition: 0.5s all;
}
#es-rc.es-rc-content .es-logos__img:hover {
  transform: scale(1.1);
}
#es-rc.es-rc-content .es-logos__img--cruelty {
  aspect-ratio: 231/52;
}
#es-rc.es-rc-content .es-logos__img--vegan {
  aspect-ratio: 199/62;
}
@media screen and (min-width: 430px) {
  #es-rc.es-rc-content .es-kv {
    padding-top: 60px;
  }
}
@media screen and (min-width: 450px) {
  #es-rc.es-rc-content .es-benefits__mobile {
    margin-top: -90px;
  }
  #es-rc.es-rc-content .es-ingredients__background--mobile {
    display: none;
  }
  #es-rc.es-rc-content .es-ingredients__background--desktop {
    display: block;
    min-height: 250px;
  }
}
@media screen and (min-width: 450px) and (min-width: 500px) {
  #es-rc.es-rc-content .es-kv {
    padding-top: 75px;
  }
  #es-rc.es-rc-content .es-kv__title {
    width: 85%;
    bottom: 10px;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    border: none;
  }
  #es-rc.es-rc-content .es-kv {
    padding-top: 65px;
    flex-direction: row;
  }
  #es-rc.es-rc-content .es-kv__photo-1-group--mobile {
    display: none;
  }
  #es-rc.es-rc-content .es-kv__photo-1-group--desktop {
    display: block;
  }
  #es-rc.es-rc-content .es-kv__photoimg--mobile {
    display: none;
  }
  #es-rc.es-rc-content .es-kv__photoimg--desktop {
    display: block;
  }
  #es-rc.es-rc-content .es-kv__logo {
    width: 30%;
  }
  #es-rc.es-rc-content .es-kv__photo--1 {
    order: 1;
  }
  #es-rc.es-rc-content .es-kv__photo--2 {
    order: 2;
  }
  #es-rc.es-rc-content .es-garnier-logos {
    display: none;
  }
  #es-rc.es-rc-content .es-slider--mobile {
    display: none;
  }
  #es-rc.es-rc-content .es-slider--desktop {
    display: block;
  }
  #es-rc.es-rc-content .es-effects__wrapper {
    max-width: 60%;
  }
  #es-rc.es-rc-content .es-effects__item {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }
}
@media screen and (min-width: 450px) {
  #es-rc.es-rc-content .es-benefits__mobile {
    display: none;
  }
  #es-rc.es-rc-content .es-benefits__desktop {
    display: block;
    position: relative;
    min-height: 300px;
    margin-top: -91px;
  }
  #es-rc.es-rc-content .es-benefits__desktop-images--left {
    flex: 1 1 0;
    max-width: 50%;
    z-index: 0;
  }
  #es-rc.es-rc-content .es-ba {
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFFCB1;
    background: linear-gradient(184deg, rgb(255, 252, 177) 0%, rgb(255, 241, 102) 98%);
  }
  #es-rc.es-rc-content .es-ba__left, #es-rc.es-rc-content .es-ba__right {
    width: 50%;
  }
  #es-rc.es-rc-content .es-ba__left-group-title {
    font-size: 13px;
    bottom: 15px;
  }
}
@media screen and (min-width: 600px) {
  #es-rc.es-rc-content .es-slider--desktop {
    display: block;
  }
  #es-rc.es-rc-content .es-slider .swiper-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 600px) {
  #es-rc.es-rc-content .es-effects {
    padding-top: 20px;
  }
  #es-rc.es-rc-content .es-effects__container {
    position: relative;
    z-index: 1;
    aspect-ratio: 2.66;
  }
  #es-rc.es-rc-content .es-effects__container--mobile {
    display: none;
  }
  #es-rc.es-rc-content .es-effects__container--desktop {
    display: block;
  }
  #es-rc.es-rc-content .es-effects__wrapper {
    margin-left: 5%;
    max-width: 52%;
  }
  #es-rc.es-rc-content .es-effects__item {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  #es-rc.es-rc-content .es-effects__icon {
    width: 35px;
  }
  #es-rc.es-rc-content .es-effects__desc {
    margin-top: 0;
    font-weight: 700;
  }
  #es-rc.es-rc-content .es-effects__ba {
    display: none;
  }
  #es-rc.es-rc-content .es-effects__desktop-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  #es-rc.es-rc-content .es-effects__desktop-bg-face {
    position: absolute;
    right: 0;
    width: 300px;
    bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  #es-rc.es-rc-content .es-benefits__desktop {
    min-height: 365px;
  }
  #es-rc.es-rc-content .es-benefits__list--desktop {
    left: 6%;
  }
  #es-rc.es-rc-content .es-ba__left-group-title {
    font-size: 15px;
    bottom: 20px;
  }
  #es-rc.es-rc-content .es-ba__text {
    font-size: 20px;
  }
}
@media screen and (min-width: 900px) {
  #es-rc.es-rc-content .es-kv__title {
    width: 92%;
    font-size: 18px;
  }
  #es-rc.es-rc-content .es-section-title--highlight {
    font-size: 27px;
  }
  #es-rc.es-rc-content .es-slider .swiper-wrapper {
    justify-content: space-between;
  }
  #es-rc.es-rc-content .es-slider .es-section-title {
    padding-top: 50px;
  }
  #es-rc.es-rc-content .es-slider__name {
    font-size: 20px;
  }
  #es-rc.es-rc-content .es-slider__button {
    min-width: 180px;
    width: 200px;
  }
  #es-rc.es-rc-content .es-benefits__list-item {
    font-size: 21px;
    margin-bottom: 35px;
  }
  #es-rc.es-rc-content .es-ingredients__desktop-wrapper {
    top: 12%;
    left: 4%;
  }
  #es-rc.es-rc-content .es-ingredients__title-group {
    padding-top: 0;
    padding-bottom: 0;
  }
  #es-rc.es-rc-content .es-ingredients__title {
    font-size: 25px;
  }
  #es-rc.es-rc-content .es-ingredients__title--big {
    font-size: 90px;
  }
  #es-rc.es-rc-content .es-ingredients__title--second {
    font-size: 35px;
  }
  #es-rc.es-rc-content .es-ba__ba-border {
    bottom: 21%;
    left: 60%;
    transform: translate(-50%, 10%);
  }
  #es-rc.es-rc-content .es-ba__text {
    font-size: 23px;
  }
  #es-rc.es-rc-content .es-ba__left-group-title {
    font-size: 20px;
    bottom: 25px;
  }
}
@media screen and (min-width: 990px) {
  #es-rc.es-rc-content .es-effects__wrapper {
    margin-left: 3%;
    max-width: 55%;
  }
  #es-rc.es-rc-content .es-effects__title {
    padding-top: 15px;
  }
  #es-rc.es-rc-content .es-effects__item {
    margin-bottom: 60px;
  }
  #es-rc.es-rc-content .es-effects__desc {
    font-size: 18px;
  }
  #es-rc.es-rc-content .es-effects__desktop-bg-face {
    width: 500px;
  }
  #es-rc.es-rc-content .es-effects .es-section-title--highlight {
    font-size: 29px;
  }
  #es-rc.es-rc-content .es-effects__icon {
    width: 50px;
  }
  #es-rc.es-rc-content .es-benefits__desktop {
    margin-top: -100px;
  }
  #es-rc.es-rc-content .es-benefits .es-section-title--highlight {
    font-size: 27px;
  }
  #es-rc.es-rc-content .es-benefits__border {
    top: 18%;
  }
}

@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */