@charset "UTF-8";
$es-montserrat: "Montserrat", sans-serif;
$es-white: #ffffff;
$es-yellow: #FCCB19;
$es-yellow-light: #f4ec94;
$es-orange: #e95817;
$es-orange-dark: #7c2e0c;
$es-black: #000;

@mixin img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

#es-rc.es-rc-content {
  margin: 0 auto;
  padding: 0;
  font-family: $es-montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  max-width: 990px;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  p {
    font-family: $es-montserrat;
    margin-block: 0;
  }

  img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  ::selection {
    background-color: $es-orange;
    color: $es-white;
  }

  .es-section-title {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-block: 32px;
    line-height: 1.3;

    &--big {
      font-size: 24px;
    }

    &--highlight {
      color: $es-orange;
      font-size: 20px;
    }
  }


  .es-kv {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;

    &__photo-1-group--mobile {
      position: relative;
    }

    &__photo-1-group {
      &--desktop {
        display: none;
      }
    }

    &__title {
      width: 140px;
      padding-top: 5px;
      padding-bottom: 5px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      color: #000;
      text-align: center;
      font-size: 9px;
      font-weight: 700;
      z-index: 4;
      color: $es-orange;
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid $es-black;
    }

    &__photo {
      width: 100%;
      height: 100%;
      z-index: -1;

      &--1 {
        position: relative
      }

      &--2 {
        order: 1;
      }

    }

    &__photoimg {
      @include img;
      z-index: -1;

      &--desktop {
        display: none;
      }
    }

    &__logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 45%;
      animation: slideleft 1s ease forwards;
      z-index: 3;
    }

    &__img {
      max-width: 100%;
      display: block;
      margin: 0 0 0 auto;
      margin-left: 0;
      max-height: 100px;
    }


  }

  .es-benefits {
    position: relative;
    z-index: 3;
    margin: 0;
    width: 100%;
    padding: 0;

    &__mobile {
      margin-top: -115px;
    }

    &__mobile-wrapper {
      position: relative;
      height: 400px;
    }

    &__mobile-images {
      &--left {
        position: absolute;
        top: 38%;
        left: -10px;
      }
    }

    &__desktop {
      display: none;
    }

    &__list {

      &--desktop {
        position: absolute;
        top: 63%;
        left: 10%;
        transform: translate(-10%, -50%);
      }

      &--mobile {
        font-weight: 400;
      }

      &--desktop {
        font-weight: 700;
      }
    }

    &__list-item {
      margin-bottom: 30px;

      &::marker {
        color: $es-orange;
      }
    }

    .es-section-title {
      font-size: 18px;

      @media (min-width: 768px) {
        font-size: 18px;
      }

      &--highlight {
        display: block;
        margin-bottom: 10px;

        @media (min-width: 768px) {
          font-size: 24px;
        }
      }
    }

  }

  .es-ba {
    display: flex;
    flex-direction: column;
    justify-self: center;

    &__left {
      display: flex;
      gap: 2px;
      background: #fff;
    }

    &__right {
      padding: 25px 5px;
      text-align: center;
      color: $es-orange;
      font-weight: 700;
    }

    &__left-group {
      position: relative;
    }

    &__ba-border {
      position: absolute;
      bottom: 20%;
      left: 58%;
      transform: translate(-50%, 10%);
    }

    &__group {
      position: relative;
    }

    &__left-group-title {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 15px);
      text-transform: uppercase;
      font-weight: 700;
      color: $es-orange;
      font-size: 14px;

      &--2 {
        left: 25%;
      }
    }
  }

  .es-effects {
    text-align: center;
    position: relative;

    .es-section-title {
      margin-top: 0;
      font-size: 18px;
      position: relative;
      z-index: 3;
    }

    &__title {

      &--mobile {
        padding-top: 50px;
      }
    }

    .es-section-title--highlight {
      font-size: 24px;
      display: block;
    }

    &__desktop-bg {
      display: none;
    }

    &__container {}

    &__wrapper {
      padding-top: 20px;
      padding-bottom: 10px;
      padding-left: 10px;
    }

    &__title {
      margin-bottom: 0;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 17px 0 0 0;

      &:hover {
        .es-effects__icon {
          transform: scale(1.3);
        }
      }
    }

    &__icon {
      transition: all 0.5s;
      width: 25px;
    }

    &__desc {
      margin-top: 10px;
      width: 86%;
      font-weight: 500;
      line-height: 1.4;
      font-size: 13px;
    }

    &__desc {
      text-align: left;
    }

    &__icon {
      margin-left: 0px;
    }

    &__container {
      position: relative;


      &--desktop {
        display: none;
      }
    }

    &__mobile-bg-face {
      position: absolute;
      width: 80%;
      max-width: 350px;
      right: 0;
      bottom: 0;
    }

    &__ba {
      border-bottom: none;
      border-left: none;
    }
  }

  .es-ingredients {

    &__title-group {
      display: flex;
      align-items: center;
      justify-self: center;
      column-gap: 15px;
      padding: 10px 15px;
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid $es-black;
      color: $es-orange;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__title {
      &--big {
        font-size: 60px;
      }

      &--second {
        font-size: 20px;
      }
    }

    &__container {
      position: relative;
    }

    &__desktop-wrapper {
      position: absolute;
      top: 10%;
      left: 5%;
      display: flex;
      row-gap: 5px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__background {
      &--desktop {
        display: none;
      }
    }
  }

  .es-slider {
    margin: 0;
    padding-bottom: 32px;
    position: relative;
    z-index: 0;

    &--desktop {
      display: none;
    }

    &__title {
      text-transform: uppercase;
      font-size: 20px;
      margin-top: 0px;
      margin-block: 0;
      padding-top: 30px;
      padding-bottom: 20px;
    }

    &__group-image {
      margin-bottom: 25px;
    }

    &__group-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }

    &__group-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 22%;
    }

    &__group-item-img {
      margin-bottom: 15px;
    }

    &__group-item-title {
      font-size: 14px;
      min-height: 40px;
      font-weight: 700;
      text-align: center;
    }

    &__name {
      width: 100%;

      padding: 20px 0;
      text-align: center;
      color: $es-black;
      font-weight: 700;
      font-size: 16px;
      min-height: 50px;
    }

    &__wrapper {
      padding: 0 16px;
      position: relative;
      z-index: 1;
    }

    &__bg {
      background: linear-gradient(100deg, #f4ec94 0%, #fef115 115%);
      position: absolute;
      width: 100%;
      height: 98%;
      z-index: 1;
    }

    &__title--desktop {
      position: relative;
      z-index: 2;
      margin: 0;
      padding-top: 30px;
    }

    &__content {
      max-width: 100%;
      padding: 30px 28px;
      position: relative;
    }

    .swiper-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__img {
      @include img;
      padding-top: 15px;
      max-height: 230px;

      &--3 {
        max-width: 88%;
      }

      &--4 {
        max-width: 88%;
      }
    }

    &__imgbut {
      margin: 0 auto;
      height: 380px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

    }

    &__button {
      width: 180px;
      margin: 0 auto;
      border: 1px solid #11622c;
      border-radius: 0;
      display: block;
      padding: 14px 3px;
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      background: #11622c;
      text-decoration: none;
      transition: all 0.5s;
      border-radius: 8px;
      cursor: pointer;

      &--mobile {
        width: 75px;
        background-color: #137434;
        border-radius: 4px;
        font-size: 13px;
      }

      &:hover {
        border: 1px solid #0e8144;
        color: #0e8144;
        background: #fff;
      }
    }

    .es-swiper-slide {
      display: flex;
      width: 200px;
      align-items: center;
    }

    .es-swiper-button-prev:after,
    .es-swiper-container-rtl .swiper-button-next:after {
      display: none;
    }

    .es-swiper-button-next:after,
    .es-swiper-container-rtl .es-swiper-button-prev:after {
      display: none;
    }

    .es-swiper-button-next,
    .es-swiper-container-rtl .es-swiper-button-prev {
      right: -1%;
    }

    .es-swiper-button-prev,
    .es-swiper-container-rtl .es-swiper-button-next {
      left: -1%;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $es-orange;
  }

  .es-footer {
    width: 100%;
    padding: 20px 5px;
    font-weight: 500;
    font-size: 11px;
    font-style: normal;
    text-align: center;
    line-height: 16px;
    max-width: 670px;
    margin: auto;
    margin-bottom: 25px;
  }

  .es-logo {
    margin: 0 auto;
    width: 100%;
    background-color: $es-white;

    &__img {
      width: 50%;
      @include img;
      max-width: 225px;
      margin-bottom: 15px;
      transition: 0.5s all;

      &--footer {
        width: auto;
        max-width: 175px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .es-logos {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px;
    background-color: #115e2a;
    background-size: cover;
    gap: 30px;

    &__img {
      height: 100%;
      @include img;
      transition: 0.5s all;

      &:hover {
        transform: scale(1.1);
      }

      &--cruelty {
        aspect-ratio: 231/52;
      }

      &--vegan {
        aspect-ratio: 199/62;
      }
    }
  }

  @media screen and (min-width: 430px) {
    .es-kv {
      padding-top: 60px;
    }
  }

  @media screen and (max-width: 430px) {}

  @media screen and (min-width: 450px) {

    .es-benefits {
      &__mobile {
        margin-top: -90px;
      }
    }

    .es-ingredients {
      &__background {
        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
          min-height: 250px;
        }
      }
    }

    @media screen and (min-width: 500px) {
      .es-kv {
        padding-top: 75px;

        &__title {
          width: 85%;
          bottom: 10px;
          padding: 10px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 15px;
          border: none;
        }
      }

      .es-kv {
        padding-top: 65px;
        flex-direction: row;

        &__photo-1-group {
          &--mobile {
            display: none;
          }

          &--desktop {
            display: block;
          }
        }

        &__photoimg {
          &--mobile {
            display: none;
          }

          &--desktop {
            display: block;
          }
        }

        &__logo {
          width: 30%;
        }

        &__photo {
          &--1 {
            order: 1;
          }

          &--2 {
            order: 2;
          }
        }
      }

      .es-garnier-logos {
        display: none;
      }

      .es-slider--mobile {
        display: none;
      }

      .es-slider--desktop {
        display: block;
      }

      .es-effects {

        &__wrapper {
          max-width: 60%;
        }

        &__item {
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          text-align: left;
        }

      }
    }

    .es-benefits {
      &__mobile {
        display: none;
      }

      &__desktop {
        display: block;
        position: relative;
        min-height: 300px;
        margin-top: -91px;

        &-images--left {
          flex: 1 1 0;
          max-width: 50%;
          z-index: 0;
        }
      }
    }

    .es-ba {
      margin-bottom: 5px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #FFFCB1;
      background: linear-gradient(184deg, rgba(255, 252, 177, 1) 0%, rgba(255, 241, 102, 1) 98%);

      &__left,
      &__right {
        width: 50%;
      }

      &__left-group-title {
        font-size: 13px;
        bottom: 15px;
      }
    }
  }

  @media screen and (min-width: 600px) {
    .es-slider {
      &--desktop {
        display: block;
      }

      .swiper-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  @media screen and (min-width: 600px) {

    .es-effects {
      padding-top: 20px;

      &__container {
        position: relative;
        z-index: 1;
        aspect-ratio: 2.66;

        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
        }
      }

      &__wrapper {
        margin-left: 5%;
        max-width: 52%;
      }

      &__item {
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

      &__icon {
        width: 35px;
      }

      &__desc {
        margin-top: 0;
        font-weight: 700;
      }

      &__ba {
        display: none;
      }

      &__desktop-bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }

      &__desktop-bg-face {
        position: absolute;
        right: 0;
        width: 300px;
        bottom: 0;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .es-benefits {
      &__desktop {
        min-height: 365px;
      }

      &__list {
        &--desktop {
          left: 6.3%;
        }
      }

      &__list-item {
        &::marker {
          font-size: 17px;
        }
      }
    }

    .es-ba {
      &__left-group-title {
        font-size: 15px;
        bottom: 20px;
      }

      &__text {
        font-size: 20px;
      }
    }
  }

  @media screen and (min-width: 900px) {
    .es-kv {

      &__title {
        width: 92%;
        font-size: 18px;
      }
    }

    .es-section-title {
      &--highlight {
        font-size: 27px;
      }
    }

    .es-slider {
      .swiper-wrapper {
        justify-content: space-between;
      }

      .es-section-title {
        padding-top: 50px;

      }

      &__name {
        font-size: 20px;
      }

      &__button {
        min-width: 180px;
        width: 200px;
      }
    }

    .es-benefits {
      &__list-item {
        font-size: 21px;
        margin-bottom: 35px;
      }
    }

    .es-ingredients {

      &__desktop-wrapper {
        top: 12%;
        left: 4%;
      }

      &__title-group {
        padding-top: 0;
        padding-bottom: 0;
      }

      &__title {
        font-size: 25px;

        &--big {
          font-size: 90px;
        }

        &--second {
          font-size: 35px;
        }
      }
    }

    .es-ba {
      &__ba-border {
        bottom: 21%;
        left: 60%;
        transform: translate(-50%, 10%);
      }

      &__text {
        font-size: 23px;
      }

      &__left-group-title {
        font-size: 20px;
        bottom: 25px;
      }
    }
  }

  @media screen and (min-width: 990px) {
    .es-effects {
      &__wrapper {
        margin-left: 3%;
        max-width: 55%;
      }

      &__title {
        padding-top: 15px;
      }

      &__item {
        margin-bottom: 60px;
      }

      &__desc {
        font-size: 18px;
      }

      &__desktop-bg-face {
        width: 500px;
      }

      .es-section-title--highlight {
        font-size: 29px;
      }

      &__icon {
        width: 50px;
      }
    }

    .es-benefits {
      &__desktop {
        margin-top: -100px;
      }

      .es-section-title--highlight {
        font-size: 27px;
      }

      &__border {
        top: 18%;
      }
    }

  }
}

@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}